<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" aria-hidden="true"></span>
        <span class="icon-bar" aria-hidden="true"></span>
        <span class="icon-bar" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}">{{site.name}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for item in site.data.mainNavigation %}
          <li>
            <a href="{{ site.baseurl }}{{ item.url}}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
      <form role="search" class="navbar-form navbar-right">
        <fieldset class="form-group">
          <label for="searchKeywords" class="sr-only">Search Keywords</label>
          <input type="search" name="searchKeywords" id="searchKeywords" placeholder="Search..." class="form-control">
          <button name="button" type="submit" class="btn btn-primary">
            <span class="sr-only">Submit</span>
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
        </fieldset>
      </form>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
